<body class="rvt-layout">
      
 {{> header }}
<body>
  <h1>STUDY ROOM CANCELLATION</h1>
<p>To cancel your study room reservation, enter the following information<br>
   and click "Confirm". If you do NOT wish to cancel your study room<br>
    reservation click "Return to Home."</p>
<form method="post" action="/cancelation">    
    <fieldset>
    <p>STUDENT ID NUMBER: </p>
  <label for="idnum" class="rvt-label">Student ID Number</label><br>
  <input type="number" id="idnum" name="idnum" class="rvt-label" placeholder="0123456789" maxlength=10><br><br>
  <p>CONFIRMATION NUMBER: </p>
  <label for="confirmation" class="rvt-label">Confirmation Number</label><br>
  <input type="number" id="confirmation" name="confirmation" class="rvt-label" placeholder="98765" maxlength=5><br><br>
  </fieldset>
    <input type="submit" class="rvt-button rvt-button--success" value="Add Cancelation" />
</form>
<a href = "/"><button class="rvt-button">Go Back </button></a> 
</body>


{{> footer }}
<script src="https://unpkg.com/rivet-core@2.0.0-beta.2/js/rivet.min.js"></script>
<script>
  Rivet.init();
</script>