<h1>Error Canceling Study Room</h1>
<div class="cBox">
<p>There was an error canceling your study room reservation.
    Please ensure your Student ID Number and Confirmation Number
    are correct and try again. 
</p>
</div>
    <a href = "/cancelation"><button class="rvt-button">Go Back </button></a>
