
  <body class="rvt-layout">
  
{{> header }}

<body>
  <h1>STUDY ROOM RESERVATIONS</h1>
<p>Your study room appointment has been cancelled.<br>
    To make another reservation, please click "Go Home"<br>
    and fill out a new form.
</p>
<img src="/images/Icons8_flat_approval.png"> 
<div>
    <a href = "/"><button class="rvt-button">Go Home </button></a>
</div>
</body>

{{> footer }}

<script src="https://unpkg.com/rivet-core@2.0.0-beta.2/js/rivet.min.js"></script>
<script>
Rivet.init();
</script>
