<!doctype html>
<html>

<head>
  <title>Schedule</title>
  <link rel="stylesheet" type="text/css"   href="/css/stylesheet.css">
  <style>
    img 
    {  
      float:left;
    width: 50px;  
    height: 50px;  
    }
  </style>
</head>
<header>  
  <div class="navbar">
    <div>
      <a href="https://www.iuk.edu/library/">
        <img src="logo.png" alt="IU logo">
        <div class= "h1">
          <h1>Indiana University Kokomo</h1>
      </a>
    </div>
    <a href="https://iuk.libguides.com/?b=g&d=a">LibGuides</a>
    <a href="https://iucat.iu.edu/iuk">Catalog Search</a>
    <a href="https://proxyko.uits.iu.edu/login?url=http://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=eds">EDS Search</a>
    <a href ="https://www.iuk.edu/library/find-borrow-request/requests-and-interlibrary-loan/">Interlibrary Loan</a>
    <a href="https://www.iuk.edu/library/about/staff/index.html">Contact</a>
    <a href="https://iuk.libguides.com/citation-managementCitation">Management</a>>
  </div>
</header>
<body>
  <h1>IUK Study Room Scheduler</h1>

  
</body>
<footer>&copy;Ogre, Inc</footer>

</html>