<!doctype html>
<html>

<head>
  <title>Reservations</title>
  <link rel="stylesheet" type="text/css"   href="/css/stylesheet.css">
  <style>
    img 
    {  
      float:left;
    width: 50px;  
    height: 50px;  
    }
  </style>
</head>
<header>  
  <div class="navbar">
    <div>
      <a href="https://www.iuk.edu/library/">
        <img src="logo.png" alt="IU logo">
        <div class= "h1">
          <h1>Indiana University Kokomo</h1>
      </a>
    </div>
    <a href="https://iuk.libguides.com/?b=g&d=a">LibGuides</a>
    <a href="https://iucat.iu.edu/iuk">Catalog Search</a>
    <a href="https://proxyko.uits.iu.edu/login?url=http://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=eds">EDS Search</a>
    <a href ="https://www.iuk.edu/library/find-borrow-request/requests-and-interlibrary-loan/">Interlibrary Loan</a>
    <a href="https://www.iuk.edu/library/about/staff/index.html">Contact</a>
    <a href="https://iuk.libguides.com/citation-managementCitation">Management</a>>
  </div>
</header>
<body>
  <h1>Study Room Reservations</h1>

  <a href="/studentinfo">Insert Go Button Here</a> </body><br>

  <div class="rvt-dropdown" data-rvt-dropdown="dropdownDefault">
    <button type="button" class="rvt-button rvt-button" data-rvt-dropdown-toggle="dropdownDefault" aria-haspopup="true" aria-expanded="false">
      <span class="rvt-dropdown__toggle-text">Dropdown menu</span>
      <svg aria-hidden="true" class="rvt-m-left-xs" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z" />
      </svg>
    </button>
    <div class="rvt-dropdown__menu" id="dropdownDefault" hidden data-rvt-dropdown-menu>
      <a href="#">Item one</a>
      <a href="#" aria-current="page">Item two</a>
      <a href="#">Item three</a>
    </div>
  </div>

</body>
<footer>&copy;Ogre, Inc</footer>

</html>