<!doctype html>
<html>

<head>
  <title>Reservations</title>
  <!-- this is so rivets will work for the dropdowns and buttons -->
  <link rel="stylesheet" href="https://unpkg.com/rivet-core@2.0.0-beta/css/rivet.min.css">

  <!-- this links our style sheet to the page -->
  <link rel="stylesheet" type="text/css"   href="/css/stylesheet.css">

  <style>
    img 
    {  
      float:left;
    width: 50px;  
    height: 50px;  
    }
  </style>
</head>

<header>
  <!-- nav bar -->  
  <div class="navbar">
    <div>
      <a href="https://www.iuk.edu/library/">
        <img src="logo.png" alt="IU logo">
        <div class= "h1">
          <h1>Indiana University Kokomo</h1>
      </a>
    </div>
    <a href="https://iuk.libguides.com/?b=g&d=a">LibGuides</a>
    <a href="https://iucat.iu.edu/iuk">Catalog Search</a>
    <a href="https://proxyko.uits.iu.edu/login?url=http://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=eds">EDS Search</a>
    <a href ="https://www.iuk.edu/library/find-borrow-request/requests-and-interlibrary-loan/">Interlibrary Loan</a>
    <a href="https://www.iuk.edu/library/about/staff/index.html">Contact</a>
    <a href="https://iuk.libguides.com/citation-managementCitation">Management</a>>
  </div>
</header>

<body>
  <!-- required for rivets to work where compenents are being pulled -->
  <script src="https://unpkg.com/rivet-core@2.0.0-beta/js/rivet.min.js"></script>
  <script>Rivet.init();</script>
  
  <h1>Study Room Reservation</h1> <br></br>

  <!-- input text box for date -->
  <label for="text-input-default" class="rvt-label">Please enter date (mm/dd/yy)</label>
<input type="text" id="text-input-default" class="rvt-text-input">
  
  <br></br>

  <!-- dropdown for selecting a time -->
  <div class="rvt-dropdown" data-rvt-dropdown="dropdownButtonsTIme">
    <button type="button" class="rvt-button" data-rvt-dropdown-toggle="dropdownButtonsTime" aria-haspopup="true" aria-expanded="false">
      <span class="rvt-dropdown__toggle-text">Please select a time</span>
      <svg aria-hidden="true" class="rvt-m-left-xs" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z" />
      </svg>
    </button>
    <div class="rvt-dropdown__menu" id="dropdownButtons" role="menu" hidden data-rvt-dropdown-menu>
      <button type="button" role="time1">
        <span>time 1</span>
      </button>
      <button type="button" aria-checked="true" role="time2">
        <span>time 2</span>
      </button>
      <button type="button" role="time3">
        <span>time 3</span>
      </button>
        <button type="button" role="time4">
          <span>time 4</span>
        </button>
        <button type="button" role="time5">
          <span>time 5</span>
        </button>
    </div>
  </div>
  
  <br></br>  

      <!-- dropdown for selecting a room -->
      <div class="rvt-dropdown" data-rvt-dropdown="dropdownButtonsRoomSelector">
        <button type="button" class="rvt-button" data-rvt-dropdown-toggle="dropdownButtonsRoomSelector" aria-haspopup="true" aria-expanded="false">
          <span class="rvt-dropdown__toggle-text">Please select a room</span>
          <svg aria-hidden="true" class="rvt-m-left-xs" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z" />
          </svg>
        </button>
        <div class="rvt-dropdown__menu" id="dropdownButtonsRoomSelector" role="menu" hidden data-rvt-dropdown-menu>
          <div class="rvt-dropdown__menu-heading" aria-hidden="true">First Floor</div>
          <div role="group" aria-label="First Floor">
          <button type="button" aria-checked="true"  role="room">
            <span>KA116</span>
          </button>
            <button type="button" role="room1">
            <span>KA118</span>
          </button>
            <button type="button" role="room2">
            <span>KA147</span>
          </button>
            <button type="button" role="room3">
            <span>KA149</span>
          </button>
            <button type="button" role="room4">
            <span>KA155</span>
          </button><button type="button" role="room5">
            <span>KA157</span>
          </button>
          <div class="rvt-dropdown__menu-heading" aria-hidden="true">Second Floor</div>
          <div role="group" aria-label="Second Floor">
          <button type="button" role="room6">
            <span>KA220</span>
          </button>
          <button type="button" role="room7">
            <span>KA222</span>
          </button>
          <button type="button" role="room8">
            <span>KA224</span>
          </button>
            <button type="button" role="room9">
              <span>KA226</span>
            </button>
            <button type="button" role="room0">
              <span>KA228</span>
            </button>
          </div>
        </div>
      </div>
  
  <br></br>

  <!-- go back to home page button -->
  <div class="rvt-button-group">
    <a href = "/"><button class="rvt-button">Go back </button> </a>

  <!-- go back to next page button -->
  <div class="rvt-button-group">
  <a href="/studentinfo"><button class="rvt-button rvt-button--success">Continue </button></a> 


</body>

<footer>&copy;Ogre, Inc</footer>

</html>