<body>
    <h1>Edit Study Room Reservation(s) Confirmation</h1>

    <p>
        Your study room reservation information has been updated sucessfully.
    </p>

    <img src="/images/Icons8_flat_approval.png"  alt ="Confirmation Symbol" style="width:128px;height:128px;"> <br>

    <a href = "/"><button class="rvt-button">Return to Home </button></a>
</body>